body{
    width:100%;
}

header{
    background-color:#002835;
    color: white;
   text-align: right;
   padding-right: 200px;
    
}
.btn_round{
    border-radius: 100%;
    padding: 5px;
    border: none;
    background-color: #f57812;
   
}
.head_txt{
    font-size: 15px;
    font-style: normal;
    display: inline-block;
    margin: 0px;
    
   
}
.head_inp{
    background-color: transparent;
    color: white;
    border: 1px solid #003547;
    padding: 7px;
}
.sp1{
    border-right: 1px solid #003547;
    border-left: 1px solid #003547;
    padding: 8px;
}
.p_nav{

    color: white;
    display: inline-block;
    padding: 10px 30px 10px 30px;
    text-align: center;
    
   
}
.img_nav{
    padding-right: 80px;
    padding-left: 150px;
    height: 50px;
}

nav{
        background-color:#004760;
        display: inline-block;
        width: 100%;
}

.img_area{
    background-image: url("explore-hero.jpg");
    height:500px;
    width: 100%;
    margin: 0px;
    /* position: relative; */
    color: white;

}
.line{
    
    margin-left: 48%;
}

.line1{
    font-size: 70px;
    padding: 0px;

}
.line2{
    padding: 0px;
    margin-top: -8%;
    font-size: 70px;
}
.line3{
    padding: 0px;
    margin-top: -7%;
    font-size: 40px;
}
.line4{
    padding: 0px;
    margin-top: -5%;
    font-size: 40px;
    margin-bottom: 25px;
}

.img_area_child{
    background-color:#004963;
    position: absolute;
    margin-left: 15%;
    margin-right: 10%;
    width: 70%;
    height: 200px;
    
}
.btn_exp{
    padding: 15px;
    border-radius: 50px 0px 100px 50px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f57812;
    
}
.word{
    margin-left:30px;
}
.book{
    display: inline-block;
}
.txt_book{
    display: inline-block;
    font-size: 30px;
    margin-left: 30px;
    letter-spacing: 5px;
}
.div_login{
    background-color: #00374a;
    display: inline-block;
    margin-left: 80px;
    height: 50px;
    
}
.txt_road{
    margin-left: 20px;
    display: inline-block;
}
.head_inp2{ 
    margin-left: 20px;
    display: inline-block;
    background-color:#004963;

}

.btn_new{
    margin-left: 5px;
    font-size: 18px;
    background-color:#004963;
    border-radius: 100%;
    border: none;
    padding: 10;
    color: white;
}
::-ms-input-placeholder {
    color: white;
    opacity: 1px;
}
.btn_sign{
    margin-left: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 30px 0px 100px 30px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#004963;
    color: white;