.nav1 {
    height:40.4px;
    background-color: #002835;
    
}
ul{
    list-style-type:none;
    color:white;
    padding: 0px 50px 10px 442px;
    font-size:15px;

    display: inline;
    float: left;
    margin:10px;
}
li{
    display: inline;
    Margin-right:20px;
    text-transform: uppercase;
}

li:hover{
    cursor:pointer;
    background-color:black;
    color: white;
}
.login {
    float: center;
    padding-top: 10px;
}
.button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color:black;
    background-color: #f57812;
    border: none;
    border-radius:  50px;
 
    height: 25px;
    width: 25px;
    font-size: 11px;
  }
  
  .button:hover {
        background-color: #3e8e41;
        color:white;
    }
  
  